.inference-time-container {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin-top: 15px;
    animation: popIn 0.5s ease;
}

.top-prediction-container {
    background-color: #28A745CC;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    margin-top: 7px;
    animation: popIn 0.5s;
    animation-delay: 0.25s; /* Delay the animation */
}

@keyframes popIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.benchmark-info {
    background: linear-gradient(
        60deg,
        rgba(0, 123, 255, 0.8),
        rgba(23, 162, 184, 0.8),
        rgba(40, 167, 69, 0.8)
    );
    background-size: 300% 300%;
    color: white;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    animation: gradientAnimation 15s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Typing animation */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

#animatedText {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 2s steps(40, end), blink-caret 0.75s step-end infinite;
    border-right: 2px solid;
}

.flash-message {
    position: relative;
    padding-bottom: 6px; /* Adjust space for the countdown bar */
}

.countdown-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px; /* Adjust height of the countdown bar */
    background-color: red;
    transition: width 1s linear, background-color 1s linear;
}

.close-button {
    cursor: pointer;
    border: none;
    background: none;
    font-size: 20px;
    color: black;
    position: absolute;
    right: 10px;
    top: 5px;
}

/* Additional styles for the title and list */
.info-card-title {
    margin-bottom: 15px;
    font-weight: bold;
}

.info-card-list {
    list-style: decimal inside; /* Decimal list style inside the content flow */
    margin: 0; /* Reset default margins */
    padding: 0; /* Reset default padding */
}

.info-card-list li {
    font-size: 16px;
    margin-bottom: 10px; /* Space between list items */
    text-indent: -20px; /* Indent to align numbers properly */
    padding-left: 20px; /* Padding to the left of the text */
}

.info-card-header {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust as needed for spacing */
    color: white;
}

.info-card-help {
    width: 30px; /* Adjust size as desired */
    height: 30px; /* Adjust size as desired */
    border-radius: 50%;
    background-color: white;
    color: #007bff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px; /* Adjust font size as desired */
    margin-right: 5px;
    margin-bottom: 5px;
}

.info-card-close {
    cursor: pointer;
    border: none;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    font-size: 12px;
    color: #007bff;
    line-height: 0;
    width: 20px; /* Smaller size */
    height: 20px; /* Smaller size */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: auto;
    margin-right: 5px;
    outline: none;
    position: absolute;
    right: 10px;
    top: 10px;
}

.info-card-close:hover {
    background: rgba(255, 255, 255, 0.7);
}

.info-card {
    position: relative;
    border-radius: 5px;
    padding: 20px; /* Padding for the outer card */
    margin-bottom: 20px;
    background: linear-gradient(135deg, #007bff, #00b0ff, #007bff, #82d4f2, #007bff);
    background-size: 200% 200%;
    animation: gradientAnimation 15s ease infinite;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.info-card-inner {
    background-color: white; /* White background for inner card */
    border-radius: 5px; /* Match the border-radius of the outer card */
    padding: 20px;
    color: #007bff; /* Blue color for the text inside the inner card */
}

.footer {
    background: linear-gradient(
        60deg,
        rgba(0, 123, 255, 0.8),
        rgba(23, 162, 184, 0.8),
        rgba(40, 167, 69, 0.8)
    );
    background-size: 300% 300%;
    color: white;
    text-align: center;
    padding: 15px 0;
    animation: gradientAnimation 15s ease infinite;
    margin-top: 20px;
    border-top: 3px solid white;
}

.footer-text {
    margin: 0;
    font-size: 1rem;
    font-weight: bold;
}

.footer-text small {
    display: block; /* Make it a separate line */
    font-size: 0.8rem; /* Adjust the font size as needed */
    margin-top: 5px; /* Add some space above the email address */
}

.footer-text small a {
    color: white; /* Keep the link color consistent with the rest of the footer */
}

.footer-text small a:hover {
    text-decoration: underline; /* Style for hover state */
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

.info-card-line {
    border-top: 3px solid white; /* Made the line wider */
    margin-top: 0;
    margin-bottom: 15px; /* Provide spacing between the line and the list */
}
