<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %} - ResNetTensorRT Demo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0/dist/chartjs-plugin-datalabels.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% block scripts %}{% endblock %}
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-left footer-left">
                    <span>&copy; 2023</span>
                    <br>
                    <a href="https://github.com/DimaBir/ResNetTensorRT" target="_blank">Project on GitHub</a>
                </div>
                <div class="col-md-6 text-right footer-right">
                    <strong>Dima Birenbaum</strong>
                    <br>
                    <small><a href="mailto:dima@birenbaum.co">dima@birenbaum.co</a></small>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>